#companyname {
    font-family: sans-serif;
    /* Cambiar la fuente a sans-serif */
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 6px;
}

#menu {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#menuElements {
    margin-left: auto;
    font-family: system-ui;
    /* Cambiar la fuente a sans-serif */
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 1px;
}

/* Personalización de elementos Bootstrap */

.nav-link {
    transition: background-color 0.3s;
    /* Agrega una transición suave */
    transition: border-color 0.3s;
    transition: font-weight 0.2s;
    padding: 5px;
    /* Añade un espacio entre el texto y el borde */
    margin-right: 10px;
}

.nav-link:hover {
    background-color: #f0f0f0;
    /* Cambia el color de fondo al pasar el cursor sobre el enlace */
    border-radius: 10px;
    /* Suaviza los bordes del cuadrado */
    font-weight: bold;
}

/* Estilo personalizado para las imágenes */
.card {
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    /* Quita el borde */   
    background-color: #E4AF9E;
}

.card-body {
    margin-top: 10px;
    padding-left: 20px;    
    
    font-size: 100%;  
    letter-spacing: 1px;
    font-weight:600;    
    color: #f0f0f0;
}

.card img {   
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: block; /* Hace que la imagen sea un bloque para centrarla correctamente */
    margin: 15px auto 0; /* Centra la imagen horizontalmente */
}