    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #3ea0ca; /* Color de fondo */
        background-image: url('../../resources/Illustrations/Register.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

.register-container {
    width: 300px; /* Ancho del contenedor del formulario */
    background-color: rgba(255, 255, 255, 0.13); /* Color de fondo con transparencia */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; /* Borde redondeado */
    backdrop-filter: blur(20px); /* Efecto de desenfoque */
    border: 2px solid rgb(255, 255, 255); /* Borde sólido */
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); /* Sombra */
    padding: 30px 35px; /* Relleno */
}

.register-container input,
.register-container button {
    width: calc(100% - 20px); /* Ancho del input o botón, menos el padding */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
} 

.register-container button {
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #2980b9; /* Cambio de color al pasar el cursor sobre el botón */
}


